<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <style>
      body {
        background-color: #0f0f0f;
        color: #ffffff;
      }

      .navbar {
        background-color: #101010;
        border-bottom: 1px solid #333333;
      }

      .navbar-brand, .nav-link {
        color: #000000 !important;
      }

      .navbar-brand:hover, .nav-link:hover {
        color: #ff9900 !important;
      }

      .footer {
        background-color: #101010;
        color: #ffffff;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      .footer a {
        color: #ff9900;
      }

      .footer a:hover {
        color: #ffffff;
      }

      .form-control {
        background-color: #1a1a1a;
        color: #ffffff;
        border: 1px solid #333333;
      }

      .btn-primary {
        background-color: #ff9900;
        border-color: #ff9900;
      }

      .btn-primary:hover {
        background-color: #e68000;
        border-color: #e68000;
      }
    </style>
  </head>

  <body>  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">It´s me!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="container">
       <span class="text-muted" style="color: #CCCCCC;">© <%= Time.now.year %> Diego´s Website. All Rights Reserved.</span>


        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Facebook</a></li>
          <li class="list-inline-item"><a href="#">Twitter</a></li>
          <li class="list-inline-item"><a href="#">Instagram</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
